module.exports = {  
  mysql: {
    host: 'localhost',
    database: 'dbname',
    user: 'user',
    password: 'password'
  },
  mongodb: {
    connection: 'mongodb://localhost/ssctest',    
  },
  elasticsearch: {
    uri: 'localhost:9200',    
  }
};